In [1]:
import pandas as pd

## DataSeries

DataSeries are a 1d data sctructure

Initializing series with an array will set indexes by default

In [7]:
series = pd.Series([1,2,3])
series

0    1
1    2
2    3
dtype: int64

For setting custom indexes we can initialize a series with a dictionary

In [9]:
series = pd.Series({'a': 1, 'b': 2, 'c': 3})
series

a    1
b    2
c    3
dtype: int64

## DataFrames

DataFrames are a 2d data structure

We can initialize a dataframe with an array of arrays and the indexes and columns names will be setted by default

In [10]:
dataframe = pd.DataFrame([[1,2,3],
                          [4,5,6]])
dataframe

   0  1  2
0  1  2  3
1  4  5  6

If we want custom indexes or columns names, we can pass them in the columns and indexes properties

In [13]:
dataframe = pd.DataFrame([[1,2,3], 
                          [4,5,6]],
                        columns=['a','b','c'],
                        index=['d','e'])
dataframe

   a  b  c
d  1  2  3
e  4  5  6

### Accessing DataFrames data

Dictionary like, returns a DataSeries if accessing only one column and a DateFrame if accessing more than one

In [14]:
dataframe['a']

d    1
e    4
Name: a, dtype: int64

In [15]:
dataframe[['a','b']]

   a  b
d  1  2
e  4  5

Numpy like, returns a single value, DataSeries or a DataFrame depending on the specified indexes [row, column]

In [19]:
dataframe.iloc[0]

a    1
b    2
c    3
Name: d, dtype: int64

In [24]:
dataframe.iloc[0,1:]

b    2
c    3
Name: d, dtype: int64

In [29]:
dataframe.iloc[1:, :1]

   a
e  4

In [32]:
dataframe.iloc[0,1]

2

In [33]:
dataframe.iloc[:]

   a  b  c
d  1  2  3
e  4  5  6

Label based, its like numpy like but uses columns names and includes the las item [row, column]

In [31]:
dataframe.loc[:]

   a  b  c
d  1  2  3
e  4  5  6

In [47]:
dataframe.loc[:,'a':'b']

   a  b
d  1  2
e  4  5